# Helpful DatetimeIndex Attributes and Methods

In [7]:
# import stocks.csv and create a df with Close column
import pandas as pd
stocks = pd.read_csv('stocks.csv', header=[0,1], parse_dates=[0], index_col=[0])
df = stocks.Close
df.head()

                AAPL         BA    DIS         IBM         KO       MSFT
Date
2009-12-31  7.526072  54.130001  32.25  130.899994  28.500000  30.480000
2010-01-04  7.643214  56.180000  32.07  132.449997  28.520000  30.950001
2010-01-05  7.656428  58.020000  31.99  130.850006  28.174999  30.959999
2010-01-06  7.534643  59.779999  31.82  130.000000  28.165001  30.770000
2010-01-07  7.520714  62.200001  31.83  129.550003  28.094999  30.450001

In [8]:
# see the index
df.index

DatetimeIndex(['2009-12-31', '2010-01-04', '2010-01-05', '2010-01-06',
               '2010-01-07', '2010-01-08', '2010-01-11', '2010-01-12',
               '2010-01-13', '2010-01-14',
               ...
               '2019-01-23', '2019-01-24', '2019-01-25', '2019-01-28',
               '2019-01-29', '2019-01-30', '2019-01-31', '2019-02-01',
               '2019-02-04', '2019-02-05'],
              dtype='datetime64[ns]', name='Date', length=2289, freq=None)

In [9]:
# We can access index.day|month|year that has the list of the chosen values
df.index.year

Int64Index([2009, 2010, 2010, 2010, 2010, 2010, 2010, 2010, 2010, 2010,
            ...
            2019, 2019, 2019, 2019, 2019, 2019, 2019, 2019, 2019, 2019],
           dtype='int64', name='Date', length=2289)

In [10]:
df.index.month

Int64Index([12,  1,  1,  1,  1,  1,  1,  1,  1,  1,
            ...
             1,  1,  1,  1,  1,  1,  1,  2,  2,  2],
           dtype='int64', name='Date', length=2289)

In [11]:
df.index.day

Int64Index([31,  4,  5,  6,  7,  8, 11, 12, 13, 14,
            ...
            23, 24, 25, 28, 29, 30, 31,  1,  4,  5],
           dtype='int64', name='Date', length=2289)

In [14]:
# index.day_name() returns the list of day names
# (used less often, so not pre-populated)  
df.index.day_name()

Index(['Thursday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday',
       'Monday', 'Tuesday', 'Wednesday', 'Thursday',
       ...
       'Wednesday', 'Thursday', 'Friday', 'Monday', 'Tuesday', 'Wednesday',
       'Thursday', 'Friday', 'Monday', 'Tuesday'],
      dtype='object', name='Date', length=2289)

In [17]:
df.index.weekday # only includes weekdays

Int64Index([3, 0, 1, 2, 3, 4, 0, 1, 2, 3,
            ...
            2, 3, 4, 0, 1, 2, 3, 4, 0, 1],
           dtype='int64', name='Date', length=2289)

In [18]:
df.index.quarter

Int64Index([4, 1, 1, 1, 1, 1, 1, 1, 1, 1,
            ...
            1, 1, 1, 1, 1, 1, 1, 1, 1, 1],
           dtype='int64', name='Date', length=2289)

In [19]:
df.index.days_in_month # how many days in the given month?

Int64Index([31, 31, 31, 31, 31, 31, 31, 31, 31, 31,
            ...
            31, 31, 31, 31, 31, 31, 31, 28, 28, 28],
           dtype='int64', name='Date', length=2289)

In [20]:
df.index.week # returns week of the year

/tmp/ipykernel_22852/3891177564.py:1: FutureWarning: weekofyear and week have been deprecated, please use DatetimeIndex.isocalendar().week instead, which returns a Series. To exactly reproduce the behavior of week and weekofyear and return an Index, you may call pd.Int64Index(idx.isocalendar().week)
  df.index.week # returns week of the year

Int64Index([53,  1,  1,  1,  1,  1,  2,  2,  2,  2,
            ...
             4,  4,  4,  5,  5,  5,  5,  5,  6,  6],
           dtype='int64', name='Date', length=2289)

In [21]:
df.index.is_month_end # returns a list of booleans

array([ True, False, False, ..., False, False, False])

In [26]:
# We can add columns using these attributes
df["Day"] = df.index.day_name()
df["Quarter"] = df.index.quarter
df.head()

/tmp/ipykernel_22852/302120656.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Day"] = df.index.day_name()
/tmp/ipykernel_22852/302120656.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Quarter"] = df.index.quarter

,AAPL,BA,DIS,IBM,KO,MSFT,Day,Quarter
Date,,,,,,,,
2009-12-31,7.526072,54.130001,32.25,130.899994,28.500000,30.480000,Thursday,4
2010-01-04,7.643214,56.180000,32.07,132.449997,28.520000,30.950001,Monday,1
2010-01-05,7.656428,58.020000,31.99,130.850006,28.174999,30.959999,Tuesday,1
2010-01-06,7.534643,59.779999,31.82,130.000000,28.165001,30.770000,Wednesday,1
2010-01-07,7.520714,62.200001,31.83,129.550003,28.094999,30.450001,Thursday,1