# Section 11: Financial Data Analysis with Pandas - an Introduction

In [2]:
import pandas as pd
import yfinance as yf

In [7]:
start_end = {
    "start": '2012-08-02',
    "end": '2022-05-17'
}

In [8]:
# Adj Close includes dividend payout
# This is more appropriate if you want to consider the overall performance
yf.download('AAPL', **start_end)

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2012-08-02,21.530001,21.810356,21.437500,21.706785,18.559689,332158400
2012-08-03,21.915358,22.070715,21.841429,21.989286,18.801237,344920800
2012-08-06,22.046070,22.316786,21.973572,22.233929,19.010410,302103200
2012-08-07,22.241785,22.321428,22.072857,22.175358,18.960325,290446800
2012-08-08,22.121071,22.281429,22.039286,22.137857,18.928268,244706000
...,...,...,...,...,...,...
2022-05-10,155.520004,156.740005,152.929993,154.509995,154.509995,115366700
2022-05-11,153.500000,155.449997,145.809998,146.500000,146.500000,142689800
2022-05-12,142.770004,146.199997,138.800003,142.559998,142.559998,182602000
2022-05-13,144.589996,148.100006,143.110001,147.110001,147.110001,113787000
2022-05-16,145.550003,147.520004,144.179993,145.539993,145.539993,86643800

In [5]:
# companies with the biggest volume in each sector
# source: finviz tree map (S&P 500 Map)
sector_tickers = ['AAPL', 'MSFT', 'GOOG', 'AMZN', 'TSLA', 'WMT', 'XOM', 'NEE', 'AMT', 'BA', 'HON','JNJ','UNH', 'JPM', 'V' ]

In [14]:
# can also download a list of tickers
stocks = yf.download(sector_tickers, **start_end )
stocks

[*********************100%***********************]  15 of 15 completed

             Adj Close                                                    \
                  AAPL         AMT         AMZN          BA         GOOG
Date
2012-08-02   18.559689   60.370384   230.809998   59.600883   313.201050
2012-08-03   18.801235   61.106293   234.970001   60.279739   319.467560
2012-08-06   19.010412   60.629620   233.990005   60.346012   320.209778
2012-08-07   18.960329   58.973797   236.559998   61.645802   319.074036
2012-08-08   18.928265   58.572399   234.380005   61.761700   319.915863
...                ...         ...          ...         ...          ...
2022-05-10  154.509995  224.750000  2177.179932  132.949997  2291.689941
2022-05-11  146.500000  224.720001  2107.439941  129.389999  2279.219971
2022-05-12  142.559998  225.500000  2138.610107  123.139999  2263.219971
2022-05-13  147.110001  232.660004  2261.100098  127.199997  2330.310059
2022-05-16  145.539993  230.220001  2216.209961  124.050003  2295.850098

                                                                       ...  \
                   HON         JNJ         JPM        MSFT        NEE  ...
Date                                                                   ...
2012-08-02   44.378555   52.226257   26.925488   23.833302  13.465865  ...
2012-08-03   45.609566   52.737465   27.629822   24.290535  13.594386  ...
2012-08-06   45.400528   52.523815   27.790600   24.453831  13.502313  ...
2012-08-07   45.346321   52.104168   28.334158   24.706944  13.398730  ...
2012-08-08   45.625057   52.149963   28.448994   24.764091  13.389136  ...
...                ...         ...         ...         ...        ...  ...
2022-05-10  193.775970  177.089996  118.889999  268.873779  69.989998  ...
2022-05-11  191.040009  176.130005  118.139999  259.944550  70.199997  ...
2022-05-12  192.919998  177.869995  118.040001  254.756653  68.510002  ...
2022-05-13  193.529999  176.850006  119.089996  260.513245  69.800003  ...
2022-05-16  193.960007  178.080002  118.260002  260.892365  70.120003  ...

             Volume                                                    \
                HON       JNJ       JPM      MSFT       NEE      TSLA
Date
2012-08-02  3345083  13536000  36675000  39520500   5366800   6525500
2012-08-03  2899191  10898800  24516300  35859400   4294400   6047500
2012-08-06  2156666   8723200  18979200  27471800   4401600   7641000
2012-08-07  4104599  11268400  37225800  28002900   5441200  11936000
2012-08-08  2883981   6573100  18672400  26257600   4366400   6544500
...             ...       ...       ...       ...       ...       ...
2022-05-10  4767500   8186700  16382400  39336400  14731900  28133900
2022-05-11  3283900   6138900  14630300  48975900  11129000  32408200
2022-05-12  3990300   6898600  16318800  51033800  15364900  46771000
2022-05-13  3237400   7731600  10442400  34893400   8010600  30651800
2022-05-16  2624200   5516700  10269000  32550900   7339500  28699500


                UNH         V      WMT       XOM
Date
2012-08-02  7320500  11112400  8093000  14530100
2012-08-03  6408000  12934400  8740000  13982500
2012-08-06  4982600   9227600  6117500   9626400
2012-08-07  6590800  13179200  7614500  12399800
2012-08-08  5718000   7962800  6578300  12864500
...             ...       ...      ...       ...
2022-05-10  4275500  11016500  8287100  34483200
2022-05-11  3936300   9427300  9292900  33020600
2022-05-12  3997600   9308600  8414800  29491500
2022-05-13  2453400   6684100  6648100  25777800
2022-05-16  2338800   5161300  7149700  26101200

[2463 rows x 90 columns]

In [16]:
# With multiple tickers, we get a multi-index; each category has all tickers as sub-index
stocks.head()

            Adj Close                                                \
                 AAPL        AMT        AMZN         BA        GOOG
Date
2012-08-02  18.559689  60.370384  230.809998  59.600883  313.201050
2012-08-03  18.801235  61.106293  234.970001  60.279739  319.467560
2012-08-06  19.010412  60.629620  233.990005  60.346012  320.209778
2012-08-07  18.960329  58.973797  236.559998  61.645802  319.074036
2012-08-08  18.928265  58.572399  234.380005  61.761700  319.915863

                                                                   ...  \
                  HON        JNJ        JPM       MSFT        NEE  ...
Date                                                               ...
2012-08-02  44.378555  52.226257  26.925488  23.833302  13.465865  ...
2012-08-03  45.609566  52.737465  27.629822  24.290535  13.594386  ...
2012-08-06  45.400528  52.523815  27.790600  24.453831  13.502313  ...
2012-08-07  45.346321  52.104168  28.334158  24.706944  13.398730  ...
2012-08-08  45.625057  52.149963  28.448994  24.764091  13.389136  ...

             Volume                                                            \
                HON       JNJ       JPM      MSFT      NEE      TSLA      UNH
Date
2012-08-02  3345083  13536000  36675000  39520500  5366800   6525500  7320500
2012-08-03  2899191  10898800  24516300  35859400  4294400   6047500  6408000
2012-08-06  2156666   8723200  18979200  27471800  4401600   7641000  4982600
2012-08-07  4104599  11268400  37225800  28002900  5441200  11936000  6590800
2012-08-08  2883981   6573100  18672400  26257600  4366400   6544500  5718000


                   V      WMT       XOM
Date
2012-08-02  11112400  8093000  14530100
2012-08-03  12934400  8740000  13982500
2012-08-06   9227600  6117500   9626400
2012-08-07  13179200  7614500  12399800
2012-08-08   7962800  6578300  12864500

[5 rows x 90 columns]

In [18]:
# let's check the entries
# multi-index is represented as a tuple (category, ticker)
stocks.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 2463 entries, 2012-08-02 to 2022-05-16
Data columns (total 90 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   (Adj Close, AAPL)  2463 non-null   float64
 1   (Adj Close, AMT)   2463 non-null   float64
 2   (Adj Close, AMZN)  2463 non-null   float64
 3   (Adj Close, BA)    2463 non-null   float64
 4   (Adj Close, GOOG)  2463 non-null   float64
 5   (Adj Close, HON)   2463 non-null   float64
 6   (Adj Close, JNJ)   2463 non-null   float64
 7   (Adj Close, JPM)   2463 non-null   float64
 8   (Adj Close, MSFT)  2463 non-null   float64
 9   (Adj Close, NEE)   2463 non-null   float64
 10  (Adj Close, TSLA)  2463 non-null   float64
 11  (Adj Close, UNH)   2463 non-null   float64
 12  (Adj Close, V)     2463 non-null   float64
 13  (Adj Close, WMT)   2463 non-null   float64
 14  (Adj Close, XOM)   2463 non-null   float64
 15  (Close, AAPL)      2463 non-null   float64
 16  (Close, AMT)       2463 non-null   float64
 17  (Close, AMZN)      2463 non-null   float64
 18  (Close, BA)        2463 non-null   float64
 19  (Close, GOOG)      2463 non-null   float64
 20  (Close, HON)       2463 non-null   float64
 21  (Close, JNJ)       2463 non-null   float64
 22  (Close, JPM)       2463 non-null   float64
 23  (Close, MSFT)      2463 non-null   float64
 24  (Close, NEE)       2463 non-null   float64
 25  (Close, TSLA)      2463 non-null   float64
 26  (Close, UNH)       2463 non-null   float64
 27  (Close, V)         2463 non-null   float64
 28  (Close, WMT)       2463 non-null   float64
 29  (Close, XOM)       2463 non-null   float64
 30  (High, AAPL)       2463 non-null   float64
 31  (High, AMT)        2463 non-null   float64
 32  (High, AMZN)       2463 non-null   float64
 33  (High, BA)         2463 non-null   float64
 34  (High, GOOG)       2463 non-null   float64
 35  (High, HON)        2463 non-null   float64
 36  (High, JNJ)        2463 non-null   float64
 37  (High, JPM)        2463 non-null   float64
 38  (High, MSFT)       2463 non-null   float64
 39  (High, NEE)        2463 non-null   float64
 40  (High, TSLA)       2463 non-null   float64
 41  (High, UNH)        2463 non-null   float64
 42  (High, V)          2463 non-null   float64
 43  (High, WMT)        2463 non-null   float64
 44  (High, XOM)        2463 non-null   float64
 45  (Low, AAPL)        2463 non-null   float64
 46  (Low, AMT)         2463 non-null   float64
 47  (Low, AMZN)        2463 non-null   float64
 48  (Low, BA)          2463 non-null   float64
 49  (Low, GOOG)        2463 non-null   float64
 50  (Low, HON)         2463 non-null   float64
 51  (Low, JNJ)         2463 non-null   float64
 52  (Low, JPM)         2463 non-null   float64
 53  (Low, MSFT)        2463 non-null   float64
 54  (Low, NEE)         2463 non-null   float64
 55  (Low, TSLA)        2463 non-null   float64
 56  (Low, UNH)         2463 non-null   float64
 57  (Low, V)           2463 non-null   float64
 58  (Low, WMT)         2463 non-null   float64
 59  (Low, XOM)         2463 non-null   float64
 60  (Open, AAPL)       2463 non-null   float64
 61  (Open, AMT)        2463 non-null   float64
 62  (Open, AMZN)       2463 non-null   float64
 63  (Open, BA)         2463 non-null   float64
 64  (Open, GOOG)       2463 non-null   float64
 65  (Open, HON)        2463 non-null   float64
 66  (Open, JNJ)        2463 non-null   float64
 67  (Open, JPM)        2463 non-null   float64
 68  (Open, MSFT)       2463 non-null   float64
 69  (Open, NEE)        2463 non-null   float64
 70  (Open, TSLA)       2463 non-null   float64
 71  (Open, UNH)        2463 non-null   float64
 72  (Open, V)          2463 non-null   float64
 73  (Open, WMT)        2463 non-null   float64
 74  (Open, XOM)        2463 non-null   float64
 75  (Volume, AAPL)     2463 non-null   int64
 76  (Volume, AMT)      2463 non-null   int64
 77  (Volume, AMZN)     2463 non-null   int64
 78  (Volume, BA)       2463 non-null   int64
 79  (Volume, GOOG)     2463 non-null   int64
 80  (Volume, HON)      2463 non-null   int64
 81  (Volume, JNJ)      2463 non-null   int64
 82  (Volume, JPM)      2463 non-null   int64
 83  (Volume, MSFT)     2463 non-null   int64
 84  (Volume, NEE)      2463 non-null   int64
 85  (Volume, TSLA)     2463 non-null   int64
 86  (Volume, UNH)      2463 non-null   int64
 87  (Volume, V)        2463 non-null   int64
 88  (Volume, WMT)      2463 non-null   int64
 89  (Volume, XOM)      2463 non-null   int64
dtypes: float64(75), int64(15)
memory usage: 1.7 MB

In [19]:
# export downloaded data into a csv file
stocks.to_csv('stocks.csv')

In [22]:
# read back from the csv into df
# read_csv doesn't parse the multi-index automatically
# It creates an extra column for each subindex under the top index (eg. Adj Close, Adj Close.1, Adj Close.2, ..)
# and pushes other meta data including subindex and non-integer index (datetime index) into the rows before the actual data
stocks = pd.read_csv('stocks.csv')
stocks

,Unnamed: 0,Adj Close,Adj Close.1,Adj Close.2,Adj Close.3,Adj Close.4,Adj Close.5,Adj Close.6,Adj Close.7,Adj Close.8,...,Volume.5,Volume.6,Volume.7,Volume.8,Volume.9,Volume.10,Volume.11,Volume.12,Volume.13,Volume.14
0,NaN,AAPL,AMT,AMZN,BA,GOOG,HON,JNJ,JPM,MSFT,...,HON,JNJ,JPM,MSFT,NEE,TSLA,UNH,V,WMT,XOM
1,Date,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2012-08-02,18.559688568115234,60.370384216308594,230.80999755859375,59.60088348388672,313.2010498046875,44.37855529785156,52.22625732421875,26.925487518310547,23.833301544189453,...,3345083,13536000,36675000,39520500,5366800,6525500,7320500,11112400,8093000,14530100
3,2012-08-03,18.80123519897461,61.106292724609375,234.97000122070312,60.27973937988281,319.4675598144531,45.60956573486328,52.737464904785156,27.62982177734375,24.29053497314453,...,2899191,10898800,24516300,35859400,4294400,6047500,6408000,12934400,8740000,13982500
4,2012-08-06,19.010412216186523,60.62961959838867,233.99000549316406,60.346012115478516,320.20977783203125,45.40052795410156,52.5238151550293,27.790599822998047,24.45383071899414,...,2156666,8723200,18979200,27471800,4401600,7641000,4982600,9227600,6117500,9626400
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2460,2022-05-10,154.50999450683594,224.75,2177.179931640625,132.9499969482422,2291.68994140625,193.77597045898438,177.08999633789062,118.88999938964844,268.873779296875,...,4767500,8186700,16382400,39336400,14731900,28133900,4275500,11016500,8287100,34483200
2461,2022-05-11,146.5,224.72000122070312,2107.43994140625,129.38999938964844,2279.219970703125,191.04000854492188,176.1300048828125,118.13999938964844,259.9445495605469,...,3283900,6138900,14630300,48975900,11129000,32408200,3936300,9427300,9292900,33020600
2462,2022-05-12,142.55999755859375,225.5,2138.610107421875,123.13999938964844,2263.219970703125,192.9199981689453,177.8699951171875,118.04000091552734,254.75665283203125,...,3990300,6898600,16318800,51033800,15364900,46771000,3997600,9308600,8414800,29491500
2463,2022-05-13,147.11000061035156,232.66000366210938,2261.10009765625,127.19999694824219,2330.31005859375,193.52999877929688,176.85000610351562,119.08999633789062,260.51324462890625,...,3237400,7731600,10442400,34893400,8010600,30651800,2453400,6684100,6648100,25777800
2464,2022-05-16,145.5399932861328,230.22000122070312,2216.2099609375,124.05000305175781,2295.85009765625,193.9600067138672,178.0800018310547,118.26000213623047,260.8923645019531,...,2624200,5516700,10269000,32550900,7339500,28699500,2338800,5161300,7149700,26101200

In [23]:
# So we can pass additional info into the pd.to_csv method to parse multi/non-integer indices
header_rows = [0, 1]
pd.read_csv('stocks.csv', header = header_rows)

     Unnamed: 0_level_0   Adj Close                                       \
     Unnamed: 0_level_1        AAPL         AMT         AMZN          BA
0                  Date         NaN         NaN          NaN         NaN
1            2012-08-02   18.559689   60.370384   230.809998   59.600883
2            2012-08-03   18.801235   61.106293   234.970001   60.279739
3            2012-08-06   19.010412   60.629620   233.990005   60.346012
4            2012-08-07   18.960329   58.973797   236.559998   61.645802
...                 ...         ...         ...          ...         ...
2459         2022-05-10  154.509995  224.750000  2177.179932  132.949997
2460         2022-05-11  146.500000  224.720001  2107.439941  129.389999
2461         2022-05-12  142.559998  225.500000  2138.610107  123.139999
2462         2022-05-13  147.110001  232.660004  2261.100098  127.199997
2463         2022-05-16  145.539993  230.220001  2216.209961  124.050003

                                                                   ...  \
             GOOG         HON         JNJ         JPM        MSFT  ...
0             NaN         NaN         NaN         NaN         NaN  ...
1      313.201050   44.378555   52.226257   26.925488   23.833302  ...
2      319.467560   45.609566   52.737465   27.629822   24.290535  ...
3      320.209778   45.400528   52.523815   27.790600   24.453831  ...
4      319.074036   45.346321   52.104168   28.334158   24.706944  ...
...           ...         ...         ...         ...         ...  ...
2459  2291.689941  193.775970  177.089996  118.889999  268.873779  ...
2460  2279.219971  191.040009  176.130005  118.139999  259.944550  ...
2461  2263.219971  192.919998  177.869995  118.040001  254.756653  ...
2462  2330.310059  193.529999  176.850006  119.089996  260.513245  ...
2463  2295.850098  193.960007  178.080002  118.260002  260.892365  ...

         Volume                                                              \
            HON         JNJ         JPM        MSFT         NEE        TSLA
0           NaN         NaN         NaN         NaN         NaN         NaN
1     3345083.0  13536000.0  36675000.0  39520500.0   5366800.0   6525500.0
2     2899191.0  10898800.0  24516300.0  35859400.0   4294400.0   6047500.0
3     2156666.0   8723200.0  18979200.0  27471800.0   4401600.0   7641000.0
4     4104599.0  11268400.0  37225800.0  28002900.0   5441200.0  11936000.0
...         ...         ...         ...         ...         ...         ...
2459  4767500.0   8186700.0  16382400.0  39336400.0  14731900.0  28133900.0
2460  3283900.0   6138900.0  14630300.0  48975900.0  11129000.0  32408200.0
2461  3990300.0   6898600.0  16318800.0  51033800.0  15364900.0  46771000.0
2462  3237400.0   7731600.0  10442400.0  34893400.0   8010600.0  30651800.0
2463  2624200.0   5516700.0  10269000.0  32550900.0   7339500.0  28699500.0


            UNH           V        WMT         XOM
0           NaN         NaN        NaN         NaN
1     7320500.0  11112400.0  8093000.0  14530100.0
2     6408000.0  12934400.0  8740000.0  13982500.0
3     4982600.0   9227600.0  6117500.0   9626400.0
4     6590800.0  13179200.0  7614500.0  12399800.0
...         ...         ...        ...         ...
2459  4275500.0  11016500.0  8287100.0  34483200.0
2460  3936300.0   9427300.0  9292900.0  33020600.0
2461  3997600.0   9308600.0  8414800.0  29491500.0
2462  2453400.0   6684100.0  6648100.0  25777800.0
2463  2338800.0   5161300.0  7149700.0  26101200.0

[2464 rows x 91 columns]

In [26]:
# We also need to tell pd.read_csv that we're using the first column as the index
# and don't forget to parse the date string index into the dates
stocks = pd.read_csv('stocks.csv', header=header_rows, index_col=[0], parse_dates=[0])
stocks

             Adj Close                                                    \
                  AAPL         AMT         AMZN          BA         GOOG
Date
2012-08-02   18.559689   60.370384   230.809998   59.600883   313.201050
2012-08-03   18.801235   61.106293   234.970001   60.279739   319.467560
2012-08-06   19.010412   60.629620   233.990005   60.346012   320.209778
2012-08-07   18.960329   58.973797   236.559998   61.645802   319.074036
2012-08-08   18.928265   58.572399   234.380005   61.761700   319.915863
...                ...         ...          ...         ...          ...
2022-05-10  154.509995  224.750000  2177.179932  132.949997  2291.689941
2022-05-11  146.500000  224.720001  2107.439941  129.389999  2279.219971
2022-05-12  142.559998  225.500000  2138.610107  123.139999  2263.219971
2022-05-13  147.110001  232.660004  2261.100098  127.199997  2330.310059
2022-05-16  145.539993  230.220001  2216.209961  124.050003  2295.850098

                                                                       ...  \
                   HON         JNJ         JPM        MSFT        NEE  ...
Date                                                                   ...
2012-08-02   44.378555   52.226257   26.925488   23.833302  13.465865  ...
2012-08-03   45.609566   52.737465   27.629822   24.290535  13.594386  ...
2012-08-06   45.400528   52.523815   27.790600   24.453831  13.502313  ...
2012-08-07   45.346321   52.104168   28.334158   24.706944  13.398730  ...
2012-08-08   45.625057   52.149963   28.448994   24.764091  13.389136  ...
...                ...         ...         ...         ...        ...  ...
2022-05-10  193.775970  177.089996  118.889999  268.873779  69.989998  ...
2022-05-11  191.040009  176.130005  118.139999  259.944550  70.199997  ...
2022-05-12  192.919998  177.869995  118.040001  254.756653  68.510002  ...
2022-05-13  193.529999  176.850006  119.089996  260.513245  69.800003  ...
2022-05-16  193.960007  178.080002  118.260002  260.892365  70.120003  ...

             Volume                                                    \
                HON       JNJ       JPM      MSFT       NEE      TSLA
Date
2012-08-02  3345083  13536000  36675000  39520500   5366800   6525500
2012-08-03  2899191  10898800  24516300  35859400   4294400   6047500
2012-08-06  2156666   8723200  18979200  27471800   4401600   7641000
2012-08-07  4104599  11268400  37225800  28002900   5441200  11936000
2012-08-08  2883981   6573100  18672400  26257600   4366400   6544500
...             ...       ...       ...       ...       ...       ...
2022-05-10  4767500   8186700  16382400  39336400  14731900  28133900
2022-05-11  3283900   6138900  14630300  48975900  11129000  32408200
2022-05-12  3990300   6898600  16318800  51033800  15364900  46771000
2022-05-13  3237400   7731600  10442400  34893400   8010600  30651800
2022-05-16  2624200   5516700  10269000  32550900   7339500  28699500


                UNH         V      WMT       XOM
Date
2012-08-02  7320500  11112400  8093000  14530100
2012-08-03  6408000  12934400  8740000  13982500
2012-08-06  4982600   9227600  6117500   9626400
2012-08-07  6590800  13179200  7614500  12399800
2012-08-08  5718000   7962800  6578300  12864500
...             ...       ...      ...       ...
2022-05-10  4275500  11016500  8287100  34483200
2022-05-11  3936300   9427300  9292900  33020600
2022-05-12  3997600   9308600  8414800  29491500
2022-05-13  2453400   6684100  6648100  25777800
2022-05-16  2338800   5161300  7149700  26101200

[2463 rows x 90 columns]

In [28]:
type(stocks.index)

pandas.core.indexes.datetimes.DatetimeIndex

In [31]:
# We can flatten the multi-index if you need to
print(stocks.columns[0])
stocks.columns = stocks.columns.to_flat_index()
print(stocks.columns[0]) # to_flat_index only changes the repr.

('Adj Close', 'AAPL')
('Adj Close', 'AAPL')

In [32]:
stocks

,"(Adj Close, AAPL)","(Adj Close, AMT)","(Adj Close, AMZN)","(Adj Close, BA)","(Adj Close, GOOG)","(Adj Close, HON)","(Adj Close, JNJ)","(Adj Close, JPM)","(Adj Close, MSFT)","(Adj Close, NEE)",...,"(Volume, HON)","(Volume, JNJ)","(Volume, JPM)","(Volume, MSFT)","(Volume, NEE)","(Volume, TSLA)","(Volume, UNH)","(Volume, V)","(Volume, WMT)","(Volume, XOM)"
Date,,,,,,,,,,,,,,,,,,,,,
2012-08-02,18.559689,60.370384,230.809998,59.600883,313.201050,44.378555,52.226257,26.925488,23.833302,13.465865,...,3345083,13536000,36675000,39520500,5366800,6525500,7320500,11112400,8093000,14530100
2012-08-03,18.801235,61.106293,234.970001,60.279739,319.467560,45.609566,52.737465,27.629822,24.290535,13.594386,...,2899191,10898800,24516300,35859400,4294400,6047500,6408000,12934400,8740000,13982500
2012-08-06,19.010412,60.629620,233.990005,60.346012,320.209778,45.400528,52.523815,27.790600,24.453831,13.502313,...,2156666,8723200,18979200,27471800,4401600,7641000,4982600,9227600,6117500,9626400
2012-08-07,18.960329,58.973797,236.559998,61.645802,319.074036,45.346321,52.104168,28.334158,24.706944,13.398730,...,4104599,11268400,37225800,28002900,5441200,11936000,6590800,13179200,7614500,12399800
2012-08-08,18.928265,58.572399,234.380005,61.761700,319.915863,45.625057,52.149963,28.448994,24.764091,13.389136,...,2883981,6573100,18672400,26257600,4366400,6544500,5718000,7962800,6578300,12864500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-05-10,154.509995,224.750000,2177.179932,132.949997,2291.689941,193.775970,177.089996,118.889999,268.873779,69.989998,...,4767500,8186700,16382400,39336400,14731900,28133900,4275500,11016500,8287100,34483200
2022-05-11,146.500000,224.720001,2107.439941,129.389999,2279.219971,191.040009,176.130005,118.139999,259.944550,70.199997,...,3283900,6138900,14630300,48975900,11129000,32408200,3936300,9427300,9292900,33020600
2022-05-12,142.559998,225.500000,2138.610107,123.139999,2263.219971,192.919998,177.869995,118.040001,254.756653,68.510002,...,3990300,6898600,16318800,51033800,15364900,46771000,3997600,9308600,8414800,29491500
2022-05-13,147.110001,232.660004,2261.100098,127.199997,2330.310059,193.529999,176.850006,119.089996,260.513245,69.800003,...,3237400,7731600,10442400,34893400,8010600,30651800,2453400,6684100,6648100,25777800
2022-05-16,145.539993,230.220001,2216.209961,124.050003,2295.850098,193.960007,178.080002,118.260002,260.892365,70.120003,...,2624200,5516700,10269000,32550900,7339500,28699500,2338800,5161300,7149700,26101200

In [33]:
# Convert flattened index back to the multi-index
stocks.columns = pd.MultiIndex.from_tuples(stocks.columns)
stocks

             Adj Close                                                    \
                  AAPL         AMT         AMZN          BA         GOOG
Date
2012-08-02   18.559689   60.370384   230.809998   59.600883   313.201050
2012-08-03   18.801235   61.106293   234.970001   60.279739   319.467560
2012-08-06   19.010412   60.629620   233.990005   60.346012   320.209778
2012-08-07   18.960329   58.973797   236.559998   61.645802   319.074036
2012-08-08   18.928265   58.572399   234.380005   61.761700   319.915863
...                ...         ...          ...         ...          ...
2022-05-10  154.509995  224.750000  2177.179932  132.949997  2291.689941
2022-05-11  146.500000  224.720001  2107.439941  129.389999  2279.219971
2022-05-12  142.559998  225.500000  2138.610107  123.139999  2263.219971
2022-05-13  147.110001  232.660004  2261.100098  127.199997  2330.310059
2022-05-16  145.539993  230.220001  2216.209961  124.050003  2295.850098

                                                                       ...  \
                   HON         JNJ         JPM        MSFT        NEE  ...
Date                                                                   ...
2012-08-02   44.378555   52.226257   26.925488   23.833302  13.465865  ...
2012-08-03   45.609566   52.737465   27.629822   24.290535  13.594386  ...
2012-08-06   45.400528   52.523815   27.790600   24.453831  13.502313  ...
2012-08-07   45.346321   52.104168   28.334158   24.706944  13.398730  ...
2012-08-08   45.625057   52.149963   28.448994   24.764091  13.389136  ...
...                ...         ...         ...         ...        ...  ...
2022-05-10  193.775970  177.089996  118.889999  268.873779  69.989998  ...
2022-05-11  191.040009  176.130005  118.139999  259.944550  70.199997  ...
2022-05-12  192.919998  177.869995  118.040001  254.756653  68.510002  ...
2022-05-13  193.529999  176.850006  119.089996  260.513245  69.800003  ...
2022-05-16  193.960007  178.080002  118.260002  260.892365  70.120003  ...

             Volume                                                    \
                HON       JNJ       JPM      MSFT       NEE      TSLA
Date
2012-08-02  3345083  13536000  36675000  39520500   5366800   6525500
2012-08-03  2899191  10898800  24516300  35859400   4294400   6047500
2012-08-06  2156666   8723200  18979200  27471800   4401600   7641000
2012-08-07  4104599  11268400  37225800  28002900   5441200  11936000
2012-08-08  2883981   6573100  18672400  26257600   4366400   6544500
...             ...       ...       ...       ...       ...       ...
2022-05-10  4767500   8186700  16382400  39336400  14731900  28133900
2022-05-11  3283900   6138900  14630300  48975900  11129000  32408200
2022-05-12  3990300   6898600  16318800  51033800  15364900  46771000
2022-05-13  3237400   7731600  10442400  34893400   8010600  30651800
2022-05-16  2624200   5516700  10269000  32550900   7339500  28699500


                UNH         V      WMT       XOM
Date
2012-08-02  7320500  11112400  8093000  14530100
2012-08-03  6408000  12934400  8740000  13982500
2012-08-06  4982600   9227600  6117500   9626400
2012-08-07  6590800  13179200  7614500  12399800
2012-08-08  5718000   7962800  6578300  12864500
...             ...       ...      ...       ...
2022-05-10  4275500  11016500  8287100  34483200
2022-05-11  3936300   9427300  9292900  33020600
2022-05-12  3997600   9308600  8414800  29491500
2022-05-13  2453400   6684100  6648100  25777800
2022-05-16  2338800   5161300  7149700  26101200

[2463 rows x 90 columns]

In [40]:
# When you want to swap index levels to see everything under one ticker
# also we want to swap indices along the y axis (1)
stocks.swaplevel(axis=1)

,AAPL,AMT,AMZN,BA,GOOG,HON,JNJ,JPM,MSFT,NEE,...,HON,JNJ,JPM,MSFT,NEE,TSLA,UNH,V,WMT,XOM
,Adj Close,Adj Close,Adj Close,Adj Close,Adj Close,Adj Close,Adj Close,Adj Close,Adj Close,Adj Close,...,Volume,Volume,Volume,Volume,Volume,Volume,Volume,Volume,Volume,Volume
Date,,,,,,,,,,,,,,,,,,,,,
2012-08-02,18.559689,60.370384,230.809998,59.600883,313.201050,44.378555,52.226257,26.925488,23.833302,13.465865,...,3345083,13536000,36675000,39520500,5366800,6525500,7320500,11112400,8093000,14530100
2012-08-03,18.801235,61.106293,234.970001,60.279739,319.467560,45.609566,52.737465,27.629822,24.290535,13.594386,...,2899191,10898800,24516300,35859400,4294400,6047500,6408000,12934400,8740000,13982500
2012-08-06,19.010412,60.629620,233.990005,60.346012,320.209778,45.400528,52.523815,27.790600,24.453831,13.502313,...,2156666,8723200,18979200,27471800,4401600,7641000,4982600,9227600,6117500,9626400
2012-08-07,18.960329,58.973797,236.559998,61.645802,319.074036,45.346321,52.104168,28.334158,24.706944,13.398730,...,4104599,11268400,37225800,28002900,5441200,11936000,6590800,13179200,7614500,12399800
2012-08-08,18.928265,58.572399,234.380005,61.761700,319.915863,45.625057,52.149963,28.448994,24.764091,13.389136,...,2883981,6573100,18672400,26257600,4366400,6544500,5718000,7962800,6578300,12864500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-05-10,154.509995,224.750000,2177.179932,132.949997,2291.689941,193.775970,177.089996,118.889999,268.873779,69.989998,...,4767500,8186700,16382400,39336400,14731900,28133900,4275500,11016500,8287100,34483200
2022-05-11,146.500000,224.720001,2107.439941,129.389999,2279.219971,191.040009,176.130005,118.139999,259.944550,70.199997,...,3283900,6138900,14630300,48975900,11129000,32408200,3936300,9427300,9292900,33020600
2022-05-12,142.559998,225.500000,2138.610107,123.139999,2263.219971,192.919998,177.869995,118.040001,254.756653,68.510002,...,3990300,6898600,16318800,51033800,15364900,46771000,3997600,9308600,8414800,29491500
2022-05-13,147.110001,232.660004,2261.100098,127.199997,2330.310059,193.529999,176.850006,119.089996,260.513245,69.800003,...,3237400,7731600,10442400,34893400,8010600,30651800,2453400,6684100,6648100,25777800
2022-05-16,145.539993,230.220001,2216.209961,124.050003,2295.850098,193.960007,178.080002,118.260002,260.892365,70.120003,...,2624200,5516700,10269000,32550900,7339500,28699500,2338800,5161300,7149700,26101200

In [39]:
# after swapping the index level, you would normally want to sort by the new main index
stocks.swaplevel(axis=1).sort_index(axis=1)

                  AAPL                                                  \
             Adj Close       Close        High         Low        Open
Date
2012-08-02   18.559689   21.706785   21.810356   21.437500   21.530001
2012-08-03   18.801235   21.989286   22.070715   21.841429   21.915358
2012-08-06   19.010412   22.233929   22.316786   21.973572   22.046070
2012-08-07   18.960329   22.175358   22.321428   22.072857   22.241785
2012-08-08   18.928265   22.137857   22.281429   22.039286   22.121071
...                ...         ...         ...         ...         ...
2022-05-10  154.509995  154.509995  156.740005  152.929993  155.520004
2022-05-11  146.500000  146.500000  155.449997  145.809998  153.500000
2022-05-12  142.559998  142.559998  146.199997  138.800003  142.770004
2022-05-13  147.110001  147.110001  148.100006  143.110001  144.589996
2022-05-16  145.539993  145.539993  147.520004  144.179993  145.550003

                              AMT                                      ...  \
               Volume   Adj Close       Close        High         Low  ...
Date                                                                   ...
2012-08-02  332158400   60.370384   72.190002   72.209999   71.050003  ...
2012-08-03  344920800   61.106293   73.070000   73.410004   72.660004  ...
2012-08-06  302103200   60.629620   72.500000   73.360001   72.459999  ...
2012-08-07  290446800   58.973797   70.519997   71.989998   70.250000  ...
2012-08-08  244706000   58.572399   70.040001   70.790001   69.959999  ...
...               ...         ...         ...         ...         ...  ...
2022-05-10  115366700  224.750000  224.750000  234.139999  222.330002  ...
2022-05-11  142689800  224.720001  224.720001  229.380005  223.929993  ...
2022-05-12  182602000  225.500000  225.500000  226.570007  222.020004  ...
2022-05-13  113787000  232.660004  232.660004  232.889999  226.190002  ...
2022-05-16   86643800  230.220001  230.220001  234.889999  230.029999  ...

                   WMT                                         XOM             \
                  High         Low        Open   Volume  Adj Close      Close
Date
2012-08-02   74.160004   72.940002   73.050003  8093000  56.510464  85.879997
2012-08-03   74.959999   74.250000   74.739998  8740000  57.609344  87.550003
2012-08-06   74.919998   74.279999   74.919998  6117500  57.543537  87.449997
2012-08-07   74.599998   73.970001   74.410004  7614500  57.852829  87.919998
2012-08-08   74.510002   73.430000   73.650002  6578300  58.089710  88.279999
...                ...         ...         ...      ...        ...        ...
2022-05-10  152.289993  148.559998  151.429993  8287100  84.157944  85.019997
2022-05-11  150.750000  146.910004  149.399994  9292900  85.910004  86.790001
2022-05-12  150.149994  146.520004  147.860001  8414800  86.300003  86.300003
2022-05-13  148.380005  146.139999  147.710007  6648100  88.860001  88.860001
2022-05-16  149.729996  146.460007  149.380005  7149700  90.949997  90.949997


                 High        Low       Open    Volume
Date
2012-08-02  86.750000  85.500000  86.099998  14530100
2012-08-03  87.889999  86.800003  87.070000  13982500
2012-08-06  87.879997  87.370003  87.550003   9626400
2012-08-07  88.000000  87.680000  87.879997  12399800
2012-08-08  88.500000  87.680000  87.750000  12864500
...               ...        ...        ...       ...
2022-05-10  86.889999  83.519997  85.639999  34483200
2022-05-11  88.940002  86.279999  86.430000  33020600
2022-05-12  86.379997  83.400002  85.949997  29491500
2022-05-13  88.949997  86.349998  87.360001  25777800
2022-05-16  91.980003  88.970001  88.980003  26101200

[2463 rows x 90 columns]